
h1{
    text-align: center;
}

ul {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-auto-flow: column-dense; /* try taking auto-flow dense of to see the difference */

    grid-gap: 10px;

    max-width: 100%;

    list-style-type: none;
    padding: 0px;
    margin: 0px; 



}

li{
    border: 9px solid rgb(93, 209, 122);
    background: url(coffee-icegif-7.gif);
    background-size: cover;
    padding-bottom: calc(9/9 * 80%);
    /* height: 9vw; */
}


li:hover div{
    display: inline-block;
}

div{
    display: none;
    position: absolute;
    background: url(cutegirl.jpg);
    padding: 1em;
    background-size: cover;
}

li:nth-child(5n) {
    grid-row: span 2;
    grid-column: span 2; 
}

li:nth-child(7n) {
    grid-row: span 3;
    grid-column: span 3; 
}

li:nth-child(10n) {
    grid-row: span 5;
    grid-column: span 5;
}