/* this is where you write your css */
/* On Mac you can comment by typing CMD+/ */

/* if you define a font do it at the top */
/* and then assign it to a class wherever you need it */
@font-face {
  font-family: 'MakeUpAName';
  src:  url('../fonts/dyslexia.woff') format('woff');
}


*{
  box-sizing: border-box;
}


body{
  font-family: sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  

}

h1{
  text-align: center;
}

p{
  max-width: 75ch;
}


.menu{
  color: rgb(0, 100, 0);
}

#main-page{
  background-color: lightblue;
}

#main-page main{
  display: block;
  margin: 0 auto;
  max-width: 900px;
}

section{
  border: 1px solid red;
  border-radius: 1em;
  background-color: hotpink;
  padding: 1em;
}